div.container_12

	div(align='center')#login-form.grid_12
		div#login-box
			- if (everyauth.loggedIn)
				- if (everyauth.github)
					h3 Hello #{everyauth.github.user.name}!
					p Congratulations. You can now comment on the site. Please be courteous and show some class!
					p= JSON.stringify(everyauth.github)
				- else if(everyauth.twitter)
					h3 Hello #{everyauth.twitter.user.screen_name}!
					p Congratulations. You can now comment on the site. Please be courteous and show some class!
					p= JSON.stringify(everyauth.twitter)
				- else if (everyauth.password)
					h3 Hello
					p Congratulations. You can now post on the site! Your posts will still have to be approved first.
					p= JSON.stringify(everyauth)
			- else
				div#login-with-password
					img(src='images/login-title.png')
					form(action='/login', method='post')
						input(type='text', name=everyauth.password.loginFormFieldName, value='username')
						input(type='password', name=everyauth.password.passwordFormFieldName, value='password')
						input.button(type='submit', value='')
					p.italicize
						a(href='/register') Register | 
						a(href='/forgot') Forgot Password
						
				div#login-with-service
					p
						| Use 
						| <a class='italicize' href='/auth/github'>github</a> or <a class='italicize' href='/auth/twitter'>twitter</a> to login to comment

		div(align='center').larger-font
			a(href='/') Return to the Homepage

	div.clear