div.container_12

	div#header!=partial('includes/header.jade')
	div.clear

	div#body
		div#post-header.grid_6.prefix_2
			p Recent Entries
		div#user-header.grid_4
			p Users Currently Online
		div.clear

		div#post-column.grid_8
			div#post
				div#meta-content.grid_2.alpha
					ul
						li #{postWithId.date_created}
						li In #{postWithId.categories}
						li 15 Comments
				div#post-content.grid_6.omega
					div#title
						h5 #{postWithId.title}
					div#body
						p #{postWithId.body}
				div.clear

		div#user-column.grid_4
			div#user
				ul
					li
						span.heavy Name: 
					li
						span.heavy Username: 
					li 
						span.heavy Email: 
			div#twitter
				div#twitter-header
					p Twitter Updates from admin
					div#tweets
		div.clear

	div#footer.grid_12!=partial('includes/footer.jade')
	div.clear