div.container_12

	div#header!=partial('includes/header.jade')
	div.clear

	div#body
		div#post-header.grid_6.prefix_2
			p Recent Entries
		div#user-header.grid_4
			p Twitter Updates from Admin
		div.clear

		div#post-column.grid_8
			each userPost, i in userPosts
				div#post
					div#meta-content.grid_2.alpha
						ul
							li Posted: #{userPost.formatted_date}
							li In #{userPost.categories}
							if userPost.comments.length > 1 || userPost.comments.length < 1
								li #{userPost.comments.length} Comments
							else
								li #{userPost.comments.length} Comment
					div#post-content.grid_6.omega
						div#title
							h5 
								a(href='/post/#{userPost._id}') #{userPost.title}
						div#body
							p #{userPost.body}
							p.bot-margin-none 
								a(href='/post/#{userPost._id}') &raquo; Read More
					div.clear

		div#user-column.grid_4
			div#twitter
				div#twitter-header
					div#tweets
			div#online-users
				p.heavy #{numUsers} Users Currently Online
				each user in users
					div#user
						ul
							- if (user.github.name)
								li
									span.heavy Name: 
									| #{user.github.name}
								li
									span.heavy Github Username: 
									| #{user.github.login}
								li
									span.heavy Email: 
									| #{user.github.email}
								li
									span.heavy Last Login:
									| #{user.github.lastLogout}
							- else if (user.twit.name)
								li
									span.heavy Name: 
									| #{user.twit.name}
								li
									span.heavy Screen Name: 
									| #{user.twit.screenName}
								li
									span.heavy URL: 
									| <a target='_blank' href='#{user.twit.url}'>#{user.twit.url}</a>
								li
									span.heavy Last Login:
									| #{user.twit.lastLogout}	
							- else if (user.name.first)
								li
									span.heavy Name: 
									| #{user.name.first} #{user.name.last}
								li
									span.heavy Email: 
									| <a target='_blank' href='/user/#{user.email}/posts'>#{user.email}</a>
								li
									span.heavy Last Login: 
									| #{user.lastLogout}
							- else
								li
									There are no users currently online.
		div.clear

	div#footer.grid_12!=partial('includes/footer.jade')
	div.clear